<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Bon de livraison</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a th:href="@{/home}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Bon de livraison</h1>
            <div class="section-header-button"  sec:authorize="hasAnyRole('ADMIN','SUPERVISEUR')" >
                <button  type="button" class="btn btn-primary"
                         data-toggle="modal" data-target="#modalbl">
                    Nouveau
                </button>
            </div>
            <div  class="section-header-button"  sec:authorize="hasRole('GERANT')" >
                <a th:href="@{/gerant/blValiderParHierachie}" class="btn btn-primary">BL Validé Par Hierachie</a>&nbsp;
                <a th:href="@{/gerant/blAccepteGerant}" class="btn btn-primary">BL Acceptés</a>
            </div>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/admin/home}">Administration</a></div>
                <div class="breadcrumb-item">Bon de Livraison</div>
            </div>

        </div>
        <div class="section-body">
            <h2 class="section-title">Bon de livraison</h2>
            <p class="section-lead">
                Vous pouvez gérer tous vos Bon de livraison
            </p>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste des Bons de livraison</h4>
                        </div>
                        <div class="card-body">
                            <div class="clearfix mb-3"></div>
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-2" sec:authorize="hasAnyRole('ADMIN','SUPERVISEUR')">
                                    <thead>
                                    <tr>
                                        <th>N° BL</th>
                                        <th>Date</th>
                                        <th>Station</th>
                                        <th>RefEssence</th>
                                        <th>Qte Essence</th>
                                        <th>RefGazoil</th>
                                        <th>Qte Gazoil</th>
                                        <th>Prestataire</th>
                                        <th>Chauffeur</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="b : ${bl}">
                                        <td th:text="${b.getNumBL()}" class="align-middle">Mohamed Traore</td>
                                        <td th:text="${b.dateBL}" class="align-middle"></td>
                                        <td  th:text="${b.stations.nom}" class="align-middle"></td>
                                        <td  th:text="${b.refEs}" class="align-middle"></td>
                                        <td  th:text="${b.qteEs}" class="align-middle"></td>
                                        <td  th:text="${b.refGaz}" class="align-middle"></td>
                                        <td  th:text="${b.qteGaz}" class="align-middle"></td>
                                        <td  th:text="${b.prestataire.nom}" class="align-middle"></td>
                                        <td  th:text="${b.prestataire.nomChauffeur}" class="align-middle"></td>

                                        <td>
                                            <a th:href="@{'/superviseur/bl/' + ${b.id}}"
                                               class="btn btn-info" onclick="return confirm('Etes-vous sur de vouloir Consulter?');">Voir
                                            </a>
                                            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/superviseur/bl/' + ${b.id} + '/delete'}"
                                               class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer?');">Supprimer
                                            </a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade"  id="modalbl" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"style="width: 1300px; height: 500px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin-left: 20%">Fenêtre d'enrégistrement d'un bon de livraison</h5>

                </div>
                <div class="myForm">
                    <form th:action="@{/superviseur/saveBl}" method="post" enctype="multipart/form-data" id="fileUploadForm" th:object="${BonLivraison}">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 ">
                                    <div class="card">
                                        <div class="card-body" style="margin: auto">
                                            <div class=" row">
                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label>Numéro BL</label>
                                                        <input type="text" for="id" name="numBl"
                                                               class="form-control"
                                                               autocomplete="off"  id="numBl" required th:field="*{numBL}">
                                                    </div>
                                                    <!--<div class="form-group">
                                                        <label>Transporteur</label>
                                                        <input type="text" for="id" name="modeTransport"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="transport" required th:field="*{modeTransport}">
                                                    </div>-->


                                                </div>

                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label>Reference Gasoil</label>
                                                        <input type="text" for="id" name="refGaz"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="referenceGaz" required th:field="*{refGaz}">
                                                    </div>
                                                   <!-- <div class="form-group">
                                                        <label>Designation Gazoil</label>
                                                        <input type="text" for="id" name="designationGaz"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="refernceGAZ" required th:field="*{designationGaz}">
                                                    </div>-->

                                                </div>

                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label>Reference Essence</label>
                                                        <input type="text" for="id" name="refEs"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="referenceEs" required th:field="*{refEs}">
                                                    </div>
                                                    <!--<div class="form-group">
                                                        <label>Designation Essence</label>
                                                        <input type="text" for="id" name="designationGaz"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="designationGaz" required th:field="*{designationEs}">
                                                    </div>-->

                                                </div>
                                            </div>

                                            <div class=" row">
                                                <div class=" col-md-6">
                                                    <div class="form-group">
                                                        <label>Designation Gazoil</label>
                                                        <input type="text" for="id" name="designationGaz"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="refernceGAZ" required th:field="*{designationGaz}">
                                                    </div>
                                                </div>
                                                <div class=" col-md-6">
                                                    <div class="form-group">
                                                        <label>Designation Essence</label>
                                                        <input type="text" for="id" name="designationGaz"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="designationGaz" required th:field="*{designationEs}">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class=" row">
                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label>Transporteur</label>
                                                        <input type="text" for="id" name="modeTransport"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="transport" required th:field="*{modeTransport}">
                                                    </div>

                                                    <label>Immatriculation</label>
                                                    <div class="form-group">
                                                        <input type="text" for="id" name="immatriculation"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="immatriculation" required th:field="*{immatriculation}">
                                                    </div>

                                                </div>

                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label>Station Destinatrice</label>
                                                        <select name="stations"  class="form-control selectric dropdown scrollable-menu"
                                                                id="stations" required th:field="*{stations}">
                                                            <option th:each="st:${station}"
                                                                    th:value="${st.id}"
                                                                    th:text="${st.nom}"></option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Quantite Gasoil</label>
                                                        <input type="number" for="id" name="qte"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="qte" required th:field="*{qteGaz}">
                                                    </div>

                                                </div>

                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label>Nom Chauffeur</label>
                                                        <select name="stationDes"  class="form-control selectric dropdown scrollable-menu"
                                                                id="prestataire" required th:field="*{prestataire}">
                                                            <option th:each="st:${p}"
                                                                    th:value="${st.id}"
                                                                    th:text="${st.nomChauffeur}"></option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Quantite Essence</label>
                                                        <input type="number" for="id" name="qteEs"
                                                               class="form-control"
                                                               autocomplete="off" value="" id="qteEs" required th:field="*{qteEs}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class=" col-md-6">
                                                    <div class="form-group">
                                                        <label>Pièces Jointes</label>
                                                        <input name="files" type="file" multiple class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class=" col-md-6">
                                                    <div class="form-group">
                                                        <label>Gerant de la station</label>
                                                        <select name="gerant"  class="form-control selectric dropdown scrollable-menu"
                                                                id="agenceEmetrice" required th:field="*{gerant}">
                                                            <option th:each="g:${user}"
                                                                    th:value="${g.id}"
                                                                    th:text="${g.username}"></option>

                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-right: 40%">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</html>
