<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Recherche deCorporate</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a th:href="@{/gerant/ventes}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Recherche de Corporate</h1>

            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/admin/home}">Administration</a></div>
                <div class="breadcrumb-item">Corporate </div>
            </div>

        </div>
        <div class="section-body">
            <h2 class="section-title">Recherche de corporate</h2>
            <p class="section-lead">
                Vous pouvez gérer toutes vos recherches de corporate
            </p>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste des Corporates</h4>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger" th:if="${message}" th:text="${message}"> </div>
                            <div class="alert alert-primary" th:if="${success}" th:text="${success}"> </div>
<!--                            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>-->

                            <form th:action="@{/gerant/checkCorporate}" method="post" th:if="${corporate == null}">

                               <!-- <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Numero du bon</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="text" class="form-control" name="numBon" id="numBon"  autocomplete="off" required>
                                    </div>
                                </div>-->
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Contact Corporate</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="number" class="form-control" name="contact" id="contact"  autocomplete="off" required>
                                    </div>
                                    <!--<div th:if="${message}" style="margin: auto">
                                        <span class="alert-danger" th:text="${message}"></span>
                                    </div>-->
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Contact beneficiaire</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="number" class="form-control" name="telBenef" id="telBenef"  autocomplete="off" required>
                                    </div>
                                    <!--<div th:if="${message}" style="margin: auto">
                                        <span class="alert-danger" th:text="${message}"></span>
                                    </div>-->
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Litrage Essence</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="number" class="form-control" name="litreEssence" id="litreEssence"  autocomplete="off" required>
                                    </div>
                                    <!--<div th:if="${message}" style="margin: auto">
                                        <span class="alert-danger" th:text="${message}"></span>
                                    </div>-->
                                </div>

                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Litrage Gazoil</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="number" class="form-control" name="litreGazoil" id="litreGazoil"  autocomplete="off" required>
                                    </div>
                                    <!--<div th:if="${message}" style="margin: auto">
                                        <span class="alert-danger" th:text="${message}"></span>
                                    </div>-->
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-12 col-md-7">
                                        <button type="submit" class="btn btn-primary" style="margin-left: 40%">Rechercher</button>
                                    </div>
                                </div>
                            </form>

                            <div class="clearfix mb-3"></div>
                            <div th:if="${corporate}" class="table-responsive">
                                <table  class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Corporate</th>
                                        <th>Contact</th>
                                        <th>Plafond Es</th>
                                        <th>Plafond Ga</th>
                                        <th>Beneficiaire</th>
                                        <th>Contact</th>
                                        <th>Plafond Es</th>
                                        <th>Planfond Ga</th>
                                        <th>Essence sortie</th>
                                        <th>Gazoil sortie</th>
                                        <!--<th>Es restant</th>
                                        <th>Ga restant</th>-->
                                        <th>Date</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${corporate.nom}" class="align-middle"></td>
                                        <td  th:text="${corporate.contact1}" class="align-middle"></td>
                                        <td th:text="${corporate.plafonageEssence}" class="align-middle"></td>
                                        <td th:text="${corporate.plafonageGazoil}" class="align-middle"></td>
                                        <td  th:text="${beneficiaire.nom}" class="align-middle"></td>
                                        <td  th:text="${beneficiaire.contact}" class="align-middle"></td>
                                        <td  th:text="${beneficiaire.plafonageEssence}" class="align-middle"></td>
                                        <td  th:text="${beneficiaire.plafonageGazoil}" class="align-middle"></td>
                                        <td  th:text="${litreEssence}" class="align-middle"></td>
                                        <td  th:text="${litreGazoil}" class="align-middle"></td>
                                        <!--<td  th:text="${beneficiaire.nom}" class="align-middle"></td>
                                        <td  th:text="${resGa}" class="align-middle"></td>-->
                                        <td th:text="${dates}"></td>
                                        <!--<td>
                                            <a th:href="@{'/gerant/ventesCorporate/operation/' + ${corporate.id}}" class="btn btn-success" >Operations</a>
                                            &lt;!&ndash;<a th:href="@{'/superviseur/update/' + ${corporate.id} + '/corporate'}"  class="btn btn-info" onclick="return confirm('Etes-vous sur de vouloir valider?');">Modifier </a>
                                            <a th:href="@{'/superviseur/delete/' + ${corporate.id}}"
                                                class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir modifier?');">Supprimer</a>&ndash;&gt;

                                        </td>
-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</html>
