<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Indexes Modification</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a th:href="@{/admin/correction-index}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Indexe Modification</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/parametrages/home}">Administration</a></div>
                <div class="breadcrumb-item">Indexe Modification</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Indexes Modification</h2>
            <p class="section-lead">
                Sur cette page vous pouvez modifier une saisie d'indexe.
            </p>

            <div class="row" >
                <div class="card" style="margin: auto; width: 40%">
                        <div class="card-header">
                            <h4>Modification un indexe existant</h4>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-dark" th:if="${message}" th:text="${message}"></div>
                            </h6>
                            <form th:action="@{/gerant/newindexes}"  method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <h6  th:text="${stations}" style="margin-left: 40%"></h6>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Indexe Essence1</label>
                                        <input type="text" class="form-control"  id="inputEmail4"
                                               name="super1"  th:value="${indexAModifier.super1}" required th:placeholder="${indexAModifier.super1}">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Indexe Essence2</label>
                                        <input type="text" class="form-control" name="super2" required th:value="${indexAModifier.super2}"
                                               th:placeholder="${indexAModifier.super2}">

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Indexe Essence3</label>
                                        <input type="text" class="form-control" name="super3" required th:value="${indexAModifier.super3}"
                                               th:placeholder="${indexAModifier.super3}">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Indexe Essence4</label>
                                        <input type="text" class="form-control" name="super4" required th:value="${indexAModifier.super4}"
                                               th:placeholder="${indexAModifier.super4}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Indexe Gazoil1</label>
                                        <input type="text" class="form-control" name="gazoil1"
                                               th:value="${indexAModifier.gazoil1}" required th:placeholder="${indexAModifier.gazoil1}">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label >Indexe Gazoil2</label>
                                        <input type="text" class="form-control" required name="gazoil2" th:value="${indexAModifier.gazoil2}"
                                               th:placeholder="${indexAModifier.gazoil2}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Indexe Gazoil3</label>
                                        <input type="text" class="form-control" name="gazoil3"
                                               th:value="${indexAModifier.gazoil3}" required th:placeholder="${indexAModifier.gazoil3}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label >Indexe Gazoil4</label>
                                        <input type="text" class="form-control" required name="gazoil4"
                                               th:value="${indexAModifier.gazoil4}"  th:placeholder="${indexAModifier.gazoil4}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4" style="color: #bd2130">Jauge Essence</label>
                                        <input type="text" class="form-control" required name="cuveEssence" th:value="${indexAModifier.cuveEssence}" th:placeholder="${indexAModifier.cuveEssence}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label style="color: #bd2130">Jauge Gazoil</label>
                                        <input type="text" class="form-control" required name="cuveGazoil" th:value="${indexAModifier.cuveGazoil}" th:placeholder="${indexAModifier.cuveGazoil}">
                                    </div>
                                </div>
                                <div class="form-group row mb-6">
                                    <div class="col-sm-12 col-md-6" style="margin-left: 40%">
                                        <button type="submit" class="btn btn-primary">VALIDER</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </section>


</div>
</html>
