<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Indexes</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Indexe</h1>
            <div th:if="${rep !=true}" class="section-header-button">
                <a sec:authorize="hasAnyRole('SUPERVISEUR','ADMIN','GERANT')" th:href="@{/gerant/newindexes}" class="btn btn-primary">Nouveau</a>
            </div>
            <!--<button type="button" class="btn btn-primary mr-4"
                    data-toggle="modal" data-target="#modalComptes">
                Nouvelle dépense
            </button>-->
            <div th:if="${rep}" class="section-header-button">
                <a  th:href="@{/parametrages/newindexes}" class="btn btn-primary">Nouveau</a>
            </div>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/parametrages/home}">Administration</a></div>
                <div class="breadcrumb-item">Indexe</div>
            </div>

        </div>
        <div class="section-body">
            <h2 class="section-title">Indexes</h2>
            <p class="section-lead">
                Vous pouvez gérer toutes vos indexes
            </p>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste des indexes</h4>
                        </div>
                        <div class="card-body">
                            <div class="clearfix mb-3"></div>
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Cuve Es</th>
                                        <th>Cuve Gaz</th>
                                        <th>Ind Es1</th>
                                        <th>Ind Es2</th>
                                        <th>Ind Es3</th>
                                        <th>Ind Es4</th>
                                        <th>Ind Gas1</th>
                                        <th>Ind Gas2</th>
                                        <th>Ind Gas3</th>
                                        <th>Ind Gas4</th>
                                        <th>Station</th>
                                        <th>Date</th>
                                        <th>Reste Es</th>
                                        <th>Reste Gaz</th>
                                        <th>Reste cuve Gaz</th>
                                        <th>Reste cuve Es</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="in : ${indexe}">
                                        <td th:text="${in.cuveEssence}" class="align-middle">0001</td>
                                        <td th:text="${in.cuveGazoil}" class="align-middle">0001</td>
                                        <td th:text="${in.super1}" class="align-middle"></td>
                                        <td th:text="${in.super2}" class="align-middle"></td>
                                        <td th:text="${in.super3}" class="align-middle"></td>
                                        <td th:text="${in.super4}" class="align-middle"></td>
                                        <td th:text="${in.gazoil1}" class="align-middle"></td>
                                        <td th:text="${in.gazoil2}" class="align-middle"></td>
                                        <td th:text="${in.gazoil3}" class="align-middle"></td>
                                        <td th:text="${in.gazoil4}" class="align-middle"></td>
                                        <td th:text="${in.stations.nom}" class="align-middle"></td>
                                        <td th:text="${in.dateCreation}" class="align-middle"></td>
                                        <td th:text="${in.difPriseEss}" class="align-middle"></td>
                                        <td th:text="${in.difPriseGaz}" class="align-middle"></td>
                                        <td th:text="${in.stockCuveGazoil}" class="align-middle"></td>
                                        <td th:text="${in.stockCuveGazoil}" class="align-middle"></td>
                                        <!--
                                                                                <td>
                                                                                    <a th:href="@{'/admin/indexes/' + ${in.id}}"
                                                                                       class="btn btn-info" onclick="return confirm('Etes-vous sur de vouloir modifier ?');">Completer l'indexe
                                                                                    </a>
                                                                                </td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modalComptes" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"style="width: 1000px; height: 600px"  role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <h5 class="modal-title" id="exampleModalLabel" >Fenêtre d'enregistrement d'une dépense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!--                        <span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="myForm">
                    <form th:action="@{/raf/depenses/saveDepense}" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 ">
                                    <div class="card">

                                        <div class=" row">
                                            <div class=" col-md-6">
                                                <div class="form-group">
                                                    <label>Libelle</label>
                                                    <input type="text" for="id" name="libelle" class="form-control"
                                                           autocomplete="off" value="" required id="numeroCompte"  >
                                                </div>
                                                <div class="form-group">
                                                    <label>N° transaction</label>
                                                    <input type="text" for="id" name="transaction" class="form-control"
                                                           autocomplete="off" value="" required id="transaction"  >
                                                </div>

                                                <div class="form-group">
                                                    <label>Montant</label>
                                                    <input type="text" for="id" name="montant" class="form-control"
                                                           autocomplete="off" value="" required id="montant" >
                                                </div>


                                            </div>
                                            <div class=" col-md-6">
                                                <div class="form-group">
                                                    <label>Compte</label>
                                                    <select name="compte"  class="form-control selectric dropdown scrollable-menu"
                                                            id="compte" required>
                                                        <option value=""> Selectionnez une banque</option>
                                                        <option>SGBCI</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Commentaire</label>
                                                    <input type="text" for="id" name="commentaire" class="form-control"
                                                           autocomplete="off" required value="" id="veille">
                                                </div>

                                                <div class="form-group">
                                                    <label>Auteur</label>
                                                    <input type="text" for="id" name="auteur" class="form-control"
                                                           autocomplete="off" required value="" id="auteur"
                                                            disabled>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="margin-right: 45%">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
