<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Indexes</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Indexe</h1>
           <!-- <div th:if="${rep !=true}" class="section-header-button">
                <a sec:authorize="hasAnyRole('SUPERVISEUR','ADMIN','GERANT')" th:href="@{/gerant/newindexes}" class="btn btn-primary">Nouveau</a>
            </div>-->
            <div th:if="${rep}" class="section-header-button">
                <a  th:href="@{/parametrages/newindexes}" class="btn btn-primary">Nouveau</a>
            </div>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/parametrages/home}">Administration</a></div>
                <div class="breadcrumb-item">Indexe</div>
            </div>

        </div>
        <div class="section-body">
            <h2 class="section-title">Indexes</h2>
            <p class="section-lead">
                Vous pouvez gérer toutes vos indexes
            </p>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste des indexes</h4>
                        </div>
                        <div class="card-body">
                            <div class="clearfix mb-3"></div>
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Cuve Es</th>
                                        <th>Cuve Gaz</th>
                                        <th>Ind Es1</th>
                                        <th>Ind Es2</th>
                                        <th>Ind Es3</th>
                                        <th>Ind Es4</th>
                                        <th>Ind Gas1</th>
                                        <th>Ind Gas2</th>
                                        <th>Ind Gas3</th>
                                        <th>Ind Gas4</th>
                                        <th>Station</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="in : ${LinstIndexStation}">
                                        <td th:text="${in.cuveEssence}" class="align-middle">0001</td>
                                        <td th:text="${in.cuveGazoil}" class="align-middle">0001</td>
                                        <td th:text="${in.super1}" class="align-middle"></td>
                                        <td th:text="${in.super2}" class="align-middle"></td>
                                        <td th:text="${in.super3}" class="align-middle"></td>
                                        <td th:text="${in.super4}" class="align-middle"></td>
                                        <td th:text="${in.gazoil1}" class="align-middle"></td>
                                        <td th:text="${in.gazoil2}" class="align-middle"></td>
                                        <td th:text="${in.gazoil3}" class="align-middle"></td>
                                        <td th:text="${in.gazoil4}" class="align-middle"></td>
                                        <td th:text="${in.stations.nom}" class="align-middle"></td>
                                        <td th:text="${in.dateCreation}" class="align-middle"></td>

                                        <td>
                                            <a th:href="@{'/admin/indexes/' + ${in.id}}"
                                               class="btn btn-info" onclick="return confirm('Etes-vous sur de vouloir modifier ?');">Details
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</html>
