<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Pompes</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a th:href="@{/admin/agences}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Modification Pompe</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/admin/home}">Administration</a></div>
                <div class="breadcrumb-item">Pompes</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Modification Agence</h2>
            <p class="section-lead">
                Sur cette page vous pouvez mettre à jour d'une pompe.
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Mise à jour Agence</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin/updatePompe}" method="post">
                                <input type="hidden" name="id" th:value="${pompe.id}">
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nom de Pompe</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input  name="codeAgence" type="text" class="form-control" th:value="${pompe.libellee}"
                                                th:placeholder="${pompe.libellee}">
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description</label>
                                    <div class="col-sm-12 col-md-2">
                                        <input name="nomAgence" type="text" class="form-control" th:value="${pompe.description}"
                                               th:placeholder="${pompe.description}">
                                    </div>

                                    <!-- <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Zone
                                         agence</label>
                                     <div class="col-sm-12 col-md-2" style="margin-bottom: 50px">
                                         &lt;!&ndash;<input name="zoneagence" type="text" class="form-control" th:value="${zone.nom}"
                                                th:placeholder="${zone.nom}">&ndash;&gt;

                                         <select  name="zoneagence"  class="form-control selectric dropdown scrollable-menu" id="zoneagence" required>
                                             <option th:value="${zone.id}"
                                                     th:text="${zone.nom}"></option>

                                         </select>
                                     </div>-->

                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-12 col-md-7">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>
