<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Stock en Station</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Stock Gestoci</h1>


            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/admin/home}">Administration</a></div>
                <div class="breadcrumb-item">Stock</div>
            </div>

        </div>
        <div class="section-body" id="content2">
            <h2 class="section-title">Stock en Gestoci</h2>
            <p class="section-lead">
                Vous pouvez gérer tous vos Stocks Gestoci
            </p>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste de tous les stocks</h4>
                        </div>
                        <div class="card-body">
                            <div class="clearfix mb-3"></div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-2" sec:authorize="hasAnyRole('ADMIN','DG')">
                                        <thead>
                                        <tr>
                                            <th>Qte Essence</th>
                                            <th>Qte Gazoil</th>
                                            <th>Qte Essence Depot</th>
                                            <th>Qte Gazoil Depot</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="b : ${stgesto}">
                                            <td  th:text="${b.getQteGlobalEs()}" class="align-middle"></td>
                                            <td  th:text="${b.getQteGlobaleGaz()}" class="align-middle"></td>
                                            <td  th:text="${b.getQteEsDepot()}" class="align-middle"></td>
                                            <td  th:text="${b.getQteGazDepot()}" class="align-middle"></td>
                                            <td>
                                                <a th:href="@{'/dg/stock/gestoci/' + ${b.id}}"
                                                   class="btn btn-info">consulter details
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<script th:src="@{/assets/js/Chart.min.js}"></script>

<!-- Export HTML to PDF -->
<script th:src="@{/assets/js/dom-to-image.min.js}"></script>
<script th:src="@{/assets/js/jspdf.min.js}"></script>

<!-- Template JS File -->
<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>

<!-- Page Specific JS File -->
<script>
    $(document).ready(function() {
        $('#logo').hide();
    });

    $('#downloadPDF').click(function () {
        $('#myButton').hide();
        $('#logo').show();
        domtoimage.toPng(document.getElementById('content2'))
            .then(function (blob) {
                var pdf = new jsPDF('1', 'pt', [$('#content2').width(), $('#content2').height()]);

                pdf.addImage(blob, 'PNG', 0, 0, $('#content2').width(), $('#content2').height());
                pdf.save('rapport-election-mabni-commissaire-2021-2022.pdf');

                $('#myButton').show();
                $('#logo').hide();
            });
    });

    var ctx = document.getElementById("myChart2").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Essence","Gazoil"],
            datasets: [{
                label: 'Statistics',
                data: [
                    [[${essence}]],
                    [[${gazoil}]],

                ],
                borderWidth: 2,
                backgroundColor: '#6777ef',
                borderColor: '#6777ef',
                borderWidth: 2.5,
                pointBackgroundColor: '#ffffff',
                pointRadius: 4
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        drawBorder: false,
                        color: '#f2f2f2',
                    },
                    ticks: {
                        beginAtZero: true,
                        stepSize: 150
                    }
                }],
                xAxes: [{
                    ticks: {
                        display: false
                    },
                    gridLines: {
                        display: false
                    }
                }]
            },
        }
    });
    var ctx = document.getElementById("myChart4").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    [[${essence}]],
                    [[${gazoil}]],
                ],
                backgroundColor: [
                    '#63ed7a',
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'essenec',
                'gasoil'
            ],
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom',
            },
        }
    });
</script>

</html>
