<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Validation ADV</title>
</head>

<div layout:fragment="page_content" class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a th:href="@{/home}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Validation ADV</h1>

            <div  class="section-header-button"  sec:authorize="hasRole('GERANT')" >
                <a th:href="@{/gerant/blValiderParHierachie}" class="btn btn-primary">BL Validé Par Hierachie</a>&nbsp;
                <a th:href="@{/gerant/blAccepteGerant}" class="btn btn-primary">Ventes corporates Acceptés</a>
            </div>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a th:href="@{/}">Accueil</a></div>
                <div class="breadcrumb-item"><a th:href="@{/admin/home}">Administration</a></div>
                <div class="breadcrumb-item">Validation ADV</div>
            </div>

        </div>
        <div class="section-body">
            <h2 class="section-title">Validation ADV</h2>
            <p class="section-lead">
                Vous pouvez gérer toutes les validations des ventes corporates
            </p>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste des  ventes corporates à valider</h4>
                        </div>
                        <div class="card-body">
                            <div th:if="${message}" th:text="${message}" class="alert alert-danger"></div>
                            <div th:if="${messageOk}" th:text="${messageOk}" class="alert alert-primary"></div>
                            <div class="clearfix mb-3"></div>
                            <div class="table-responsive">
                                <table sec:authorize="hasRole('GERANT')" class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Station</th>
                                        <th>Litrage Essence</th>
                                        <th>Litrage Gasoil</th>
                                        <th>Remise Essence</th>
                                        <th>Remise Gasoil</th>
                                        <th>Corporate</th>
                                        <th>Fichier</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="v : ${vcorporates}">
                                        <td  th:text="${v.stations.nom}" class="align-middle"></td>
                                        <td th:text="${v.litrageEssence}" class="align-middle">Mohamed Traore</td>
                                        <td th:text="${v.litrageGazoil}" class="align-middle"></td>
                                        <td  th:text="${v.mntEssenceRemise}" class="align-middle"></td>
                                        <td  th:text="${v.mntGazoilRemise}" class="align-middle"></td>
                                        <td  th:text="${v.clientsCorporates.nom}" class="align-middle"></td>
                                        <!--                                        <td  th:text="${b.prestataire.nom}" class="align-middle"></td>-->
                                        <td th:if="${v.doc.id}"><a th:href="@{'/gerant/downloadFile/'+${v.doc.id}}" class="badge badge-primary">Download</a></td>
                                        <td>
                                            <a th:if="${v.advValidate == false}" th:href="@{'/superviseur/adv/' + ${v.id}}"
                                               class="btn btn-info" onclick="return confirm('Etes-vous sur de confirmer ce bon de livraison?');">Validation AVD
                                            </a>
                                            <a th:if="${v.advValidate == true}" href="#"
                                               class="btn btn-success">Validé
                                            </a>
                                           <!-- <a th:href="@{'/gerant/bl/' + ${v.id} + '/rejeter'}"
                                               class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir envoyer ce BL pour validation au superieur Hiérachique?');">Validation Hierachique
                                            </a>-->
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                                <table  class="table table-striped" id="table-2" sec:authorize="hasAnyRole('SUPERVISEUR','DG','COMPTABLE','RAF','ADMIN')">
                                    <thead>
                                    <tr>
                                        <th>Station</th>
                                        <th>Litrage Essence</th>
                                        <th>Litrage Gasoil</th>
                                        <th>Remise Essence</th>
                                        <th>Remise Gasoil</th>
                                        <th>Corporate</th>
                                        <th>Fichier</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="v : ${vcorporatesList}">
                                        <td  th:text="${v.stations.nom}" class="align-middle"></td>
                                        <td th:text="${v.litrageEssence}" class="align-middle">Mohamed Traore</td>
                                        <td th:text="${v.litrageGazoil}" class="align-middle"></td>
                                        <td  th:text="${v.mntEssenceRemise}" class="align-middle"></td>
                                        <td  th:text="${v.mntGazoilRemise}" class="align-middle"></td>
                                        <td  th:text="${v.clientsCorporates.nom}" class="align-middle"></td>
                                        <!--                                        <td  th:text="${b.prestataire.nom}" class="align-middle"></td>-->
                                        <td th:if="${v.doc.id}"><a th:href="@{'/gerant/downloadFile/'+${v.doc.id}}" class="badge badge-primary">Download</a></td>
                                        <td>
                                            <a th:if="${v.advValidate == false}" th:href="@{'/superviseur/adv/' + ${v.id}}"
                                               class="btn btn-info" onclick="return confirm('Etes-vous sur de confirmer ce bon de livraison?');">Validation AVD
                                            </a>
                                            <a th:if="${v.advValidate == true}" href="#"
                                               class="btn btn-success">Validé
                                            </a>
                                            <!-- <a th:href="@{'/gerant/bl/' + ${v.id} + '/rejeter'}"
                                                class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir envoyer ce BL pour validation au superieur Hiérachique?');">Validation Hierachique
                                             </a>-->
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</html>
